#moveBox .move-label {
    -fx-font-weight: bold;
}

#moveBox2 .vbox .hbox {
    -fx-padding: 3px;
}

#moveBox2 .main-line {
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
}

#moveBox2 .last-line {
    -fx-font-family: Verdana;
    -fx-font-style: italic;
}

#moveBox2 .move-label {
    -fx-font-family: Verdana;
    -fx-padding: 0px 4px 0px 0px;
}

#moveBox2 .move-no-label {
    -fx-padding: 0px 0px 0px 0px;
}

#moveBox2 .comment-label {
    -fx-padding: 0px 4px 0px 0px;
    -fx-text-fill: darkblue;
}

#moveBox2 .move-delimiter {
}
